<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Createx UI Kit | Icon font</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Createx - Multipurpose Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, construction, services, e-commerce, shopping cart, mobile app showcase, multipurpose, shop, ui kit, marketing, seo, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../../assets/img/site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="../../assets/img/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../../assets/vendor/prismjs/themes/prism.css"/>
    <link rel="stylesheet" media="screen" href="../../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.css"/>
    <link rel="stylesheet" media="screen" href="../../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../../assets/css/theme.min.css">
  </head>


  <!-- Body-->
  <body>
    <main class="container-fluid">

      <!-- Main content-->
      <section class="cs-offcanvas-enabled row pb-3 pb-md-4">
        <div class="col-xl-9">

          <!-- Navbar-->
          <header class="navbar navbar-expand navbar-light fixed-top navbar-box-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
            <a class="navbar-brand d-lg-none" href="typography.html">
              <img src="../../assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
            </a>
            <button class="navbar-toggler d-block d-lg-none mr-3 ml-auto" type="button" data-toggle="offcanvas" data-target="componentsNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ml-auto d-none d-lg-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link py-0" href="../../index.html">
                  <i class="cxi-eye align-middle mt-n1 mr-2"></i>
                  Live preview
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" href="../documentation/dev-setup.html">
                  <i class="cxi-files align-middle mt-n1 mr-2"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
            </ul>
            <a href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" class="btn btn-primary btn-shadow ml-lg-4" target="_blank" rel="noopener">
              <i class="cxi-cart mr-2 d-none d-sm-inline-block"></i>
              Buy now
            </a>
          </header>

          <!-- Side navigation (Off-canvas)-->
          <aside class="cs-offcanvas cs-offcanvas-expand bg-dark" id="componentsNav">
            <div class="cs-offcanvas-cap d-none d-lg-block py-4">
              <a class="navbar-brand py-2" href="typography.html">
                <img src="../../assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
              </a>
              <span class="badge badge-success">UI Kit</span>
            </div>
            <div class="cs-offcanvas-cap d-flex d-lg-none">
              <div class="d-flex align-items-center mt-1">
                <h5 class="text-light mb-0 mr-3">Menu</h5>
                <span class="badge badge-success">UI Kit</span>
              </div>
              <button class="close text-light" type="button" data-dismiss="offcanvas" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
              <a class="btn btn-primary btn-block mr-3" href="../../index.html"><i class="cxi-eye mt-n1 mr-2"></i>Preview</a>
              <a class="btn btn-warning btn-block mt-0" href="../documentation/dev-setup.html"><i class="cxi-files mt-n1 mr-2"></i>Docs</a>
            </div>
            <div class="cs-offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
              <h6 class="font-size-lg text-light px-4 mt-2 mb-3">Content</h6>
              <hr class="hr-gradient hr-light mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="typography.html">Typography</a>
                <a class="nav-link px-4 active" href="icon-font.html">Icon font</a>
                <a class="nav-link px-4" href="code.html">Code</a>
                <a class="nav-link px-4" href="images.html">Images &amp; figures</a>
                <a class="nav-link px-4" href="tables.html">Tables</a>
              </nav>
              <h6 class="font-size-lg text-light px-4 pt-1 mt-4 mb-3">Components</h6>
              <hr class="hr-gradient hr-light mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="alerts.html">Alerts</a>
                <a class="nav-link px-4" href="badge.html">Badges</a>
                <a class="nav-link px-4" href="blog-components.html">Blog components</a>
                <a class="nav-link px-4" href="breadcrumb.html">Breadcrumb</a>
                <a class="nav-link px-4" href="buttons.html">Buttons</a>
                <a class="nav-link px-4" href="button-group.html">Button group</a>
                <a class="nav-link px-4" href="cards.html">Cards</a>
                <a class="nav-link px-4" href="carousel.html">Carousel</a>
                <a class="nav-link px-4" href="collapse.html">Collapse</a>
                <a class="nav-link px-4" href="contacts-card.html">Contacts card</a>
                <a class="nav-link px-4" href="countdown.html">Countdown</a>
                <a class="nav-link px-4" href="dividers.html">Dividers</a>
                <a class="nav-link px-4" href="dropdowns.html">Dropdowns</a>
                <a class="nav-link px-4" href="forms.html">Forms</a>
                <a class="nav-link px-4" href="gallery.html">Gallery</a>
                <a class="nav-link px-4" href="icon-box.html">Icon box</a>
                <a class="nav-link px-4" href="input-group.html">Input group</a>
                <a class="nav-link px-4" href="jumbotron.html">Jumbotron</a>
                <a class="nav-link px-4" href="list-group.html">List group</a>
                <a class="nav-link px-4" href="media-object.html">Media object</a>
                <a class="nav-link px-4" href="modal.html">Modal</a>
                <a class="nav-link px-4" href="navs.html">Navs</a>
                <a class="nav-link px-4" href="navbar.html">Navbar</a>
                <a class="nav-link px-4" href="pagination.html">Pagination</a>
                <a class="nav-link px-4" href="parallax.html">Parallax</a>
                <a class="nav-link px-4" href="pills.html">Pills</a>
                <a class="nav-link px-4" href="popovers.html">Popovers</a>
                <a class="nav-link px-4" href="portfolio-components.html">Portfolio components</a>
                <a class="nav-link px-4" href="pricing.html">Pricing</a>
                <a class="nav-link px-4" href="progress-bar.html">Progress bar</a>
                <a class="nav-link px-4" href="progress-radial.html">Progress radial</a>
                <a class="nav-link px-4" href="scrollbar-custom.html">Scrollbar (custom)</a>
                <a class="nav-link px-4" href="shop-components.html">Shop components</a>
                <a class="nav-link px-4" href="social-buttons.html">Social buttons</a>
                <a class="nav-link px-4" href="spinners.html">Spinners</a>
                <a class="nav-link px-4" href="steps.html">Steps</a>
                <a class="nav-link px-4" href="tabs.html">Tabs</a>
                <a class="nav-link px-4" href="team.html">Team</a>
                <a class="nav-link px-4" href="testimonials.html">Testimonials / reviews</a>
                <a class="nav-link px-4" href="toasts.html">Toasts</a>
                <a class="nav-link px-4" href="tooltips.html">Tooltips</a>
                <a class="nav-link px-4" href="video-popup.html">Video popup</a>
                <a class="nav-link px-4" href="widgets.html">Widgets</a>
              </nav>
              <h6 class="font-size-lg text-light px-4 pt-1 mt-4 mb-3">Utilities</h6>
              <hr class="hr-gradient hr-light mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="https://getbootstrap.com/docs/4.5/utilities/borders/" target="_blank" rel="noopener">Bootstrap</a>
                <a class="nav-link px-4" href="utilities.html">Createx</a>
              </nav>
            </div>
          </aside>
          
          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Icon font</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Collection of vector icons in the format of font. To add icon simply apply css class listed under each icon to <code>&lt;i&gt;</code> or <code>&lt;span&gt;</code> tag.</p>
              <div class="pl-md-4 mb-3"><span class="badge badge-success">Createx component</span></div>
            </div>
          </div>

          <!-- Icon font-->
          <section class="pb-5 mb-md-2" id="icon-font">
            <h2 class="h3">Icon font</h2>
            <div class="card box-shadow-sm">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-alert"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-alert</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-alert-octagon"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-alert-octagon</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-anchor"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-anchor</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-angle-down"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-angle-down</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-angle-left"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-angle-left</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-angle-right"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-angle-right</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-angle-up"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-angle-up</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-down"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-down</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-left"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-left</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-right"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-right</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-up"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-up</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-bottom-left"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-bottom-left</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-bottom-right"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-bottom-right</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-top-left"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-top-left</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-top-right"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-top-right</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-vertical"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-vertical</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-horizontal"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-horizontal</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-fluid-vertical"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-fluid-vertical</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-fluid-horizontal"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-fluid-horizontal</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-back"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-back</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-forward"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-forward</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-convert"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-convert</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-reload"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-reload</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-expand"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-expand</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-select"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-select</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-arrow-share"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-arrow-share</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-attach"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-attach</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-bag"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-bag</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-bag"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-bag</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-behance"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-behance</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-bell"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-bell</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-blocked"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-blocked</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-calendar"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-calendar</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-cart"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-cart</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-chat"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-chat</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-check"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-check</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-check-round"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-check-round</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-checkmark"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-checkmark</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-clock"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-clock</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-close-round"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-close-round</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-cloud-download"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-cloud-download</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-cloud-upload"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-cloud-upload</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-comment"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-comment</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-cross"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-cross</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-danger"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-danger</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-delete"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-delete</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-dislike"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-dislike</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-dribbble"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-dribbble</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-envelope-opened"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-envelope-opened</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-external-link"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-external-link</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-eye"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-eye</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-eye-closed"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-eye-closed</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-facebook"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-facebook</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-figma"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-figma</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-file-download"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-file-download</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-file-upload"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-file-upload</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-files"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-files</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-filter-1"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-filter-1</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-filter-2"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-filter-2</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-folder"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-folder</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-github"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-github</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-gitlab"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-gitlab</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-google"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-google</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-google-hangouts"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-google-hangouts</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-grid"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-grid</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-hanger"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-hanger</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-headset"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-headset</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-heart"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-heart</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-heart-filled"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-heart-filled</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-history"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-history</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-home"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-home</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-info"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-info</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-instagram"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-instagram</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-instagram-filled"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-instagram-filled</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-iphone"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-iphone</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-layouts"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-layouts</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-lifebuoy"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-lifebuoy</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-like"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-like</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-linkedin"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-linkedin</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-list"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-list</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-lock"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-lock</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-login"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-login</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-logout"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-logout</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-mail"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-mail</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-map-pin-outline"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-map-pin-outline</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-map-pin-solid"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-map-pin-solid</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-mention"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-mention</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-messenger"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-messenger</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-mic"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-mic</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-minus"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-minus</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-minus-round"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-minus-round</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-odnoklassniki"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-odnoklassniki</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-paypal"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-paypal</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-photo"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-photo</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-pinterest"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-pinterest</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-plane"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-plane</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-play"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-play</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-play-outline"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-play-outline</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-plus"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-plus</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-plus-round"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-plus-round</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-profile"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-profile</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-quote"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-quote</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-rss"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-rss</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-search"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-search</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-send"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-send</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-settings"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-settings</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-share"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-share</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-shield"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-shield</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-skype"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-skype</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-slack"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-slack</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-slack-filled"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-slack-filled</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-star"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-star</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-star-filled"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-star-filled</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-stripe"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-stripe</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-telegram"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-telegram</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-truck"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-truck</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-tumblr"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-tumblr</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-twitch"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-twitch</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-twitter"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-twitter</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-unlock"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-unlock</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-upload"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-upload</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-download"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-download</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-viber"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-viber</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-vimeo"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-vimeo</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-vkontakte"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-vkontakte</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-volume-off"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-volume-off</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-volume-off-outline"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-volume-off-outline</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-volume-on"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-volume-on</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-volume-on-outline"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-volume-on-outline</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-wallet"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-wallet</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-wechat"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-wechat</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-whatsapp"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-whatsapp</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-world"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-world</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-youtube"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-youtube</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-sidebar-left"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-sidebar-left</div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-6 mb-4 text-center"><i class="h2 mb-3 cxi-sidebar-right"></i>
                    <div class="border-top border-bottom mt-1 py-1">cxi-sidebar-right</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
      <span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span>
      <i class="btn-scroll-top-icon cxi-angle-up"></i>
    </a>

    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../../assets/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../../assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="../../assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="../../assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="../../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="../../assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="../../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <!-- Main theme script-->
    <script src="../../assets/js/theme.min.js"></script>
  </body>
</html>